body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(141, 143, 246);
}

#pencil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: aqua;
}

#pencil h1 {
   font-size: 60px;
}

#pencil img {
    height: 200px;
    width: auto;
    padding: 0;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    width: 500px;
    border: solid 10px bisque;
}

#drawingTools {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 5px;
    gap: 5px;
}

#drawingTools .colorContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 5px;
}

#drawingTools button {
    display: flex;
    flex: 1 1 auto;
    /* border: solid 2px black; */
    border-radius: 1em;
}
