body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(141, 143, 246);
}

#pencil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#pencil h1 {
   font-size: 60px;
}

#pencil img {
    height: 200px;
    width: auto;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    height: 550px;
    width: 550px;
    border: solid 10px bisque;
}

#drawingTools {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 5px;
    gap: 5px;
}

#drawingTools .setColor {
    display: flex;
    align-self: center;
    appearance: none;
    height: 90px;
    width: 90px;
    background-color: transparent;
    border: none;
}

.setColor::-webkit-color-swatch {
    border-radius: 15px;
    border: solid 5px white;
}

.gridScrollbar {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
}

.gridScrollbar p {
    display: flex;
    text-align: center;
}

.gridScrollbar #gridInput {
    display: flex;
    flex: 1 1 auto;
    width: 200px;
}

/* #drawingTools .colorContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 5px;
} */

/* #drawingTools .setGridSize {
    display: flex;
} */

.rainbowGridContainer {
    display: flex;
    flex: 1;
    gap: 10px;
}

.rainbowGridContainer .rainbow {
    display: flex;
    flex: 1;
    width: 100px;
}

.rainbowGridContainer .setGrid {
    display: flex;
    flex: 1;
    width: 100px;
}

#drawingTools .button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 2px black;
    height: 50px;
    text-align: center;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    background-color: white;
}

#drawingTools .activeButton {
    background-color: #38598b;
    color: white;
}
